<div class="home">
	<h1>Hello Rails!</h1>
	<ul>
	<% list().each do |article| %>
	  	<li><a href="/<%= name article %>/"><%= pretty_name article %></a></li>
	<% end %>
	</ul>
	<img src="http://new4.fjcdn.com/thumbnails/comments/She+took+that+and+jammed+it+straight+up+her+_6c81e87662605052b70328bc02ff83b2.jpg" />
</div>
