// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
	width: 500px;
	margin: auto;
	color: white;
	line-height: 1.5em;
}